.lil-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
   
}
.lil-wrapper-content{
    display: flex;
    justify-content: space-between;
    width: 800px;
    
}
.lil-form{
    display: flex;
    flex-direction: column;
}
.lil-input{
    padding: 5px;
    margin: 5px 0;
}
.lil-input:first-child{
    margin: 0 0 5px;
}
.lil-botton-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}
.button-clean{
    background-color:rgb(194, 165, 221) ;
    width: 70px;
    border-radius: 20px;
}
.button-add{
    background-color:rgb(194, 165, 221) ;
    width: 70px;
    border-radius: 20px; 
}
.lil-edit-ection{
    background-color:rgb(194, 165, 221) ;
    width: 70px;
    border-radius: 20px; 
}
.lil-remove-ection{
    background-color:rgb(194, 165, 221) ;
    width: 70px;
    border-radius: 20px; 

}
.lil-table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid gray;
}
.lil-th{
    min-width: 100px;
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
    background-color: rgb(156, 97, 211);
    color: white;

}
.lil-th:first-child{
    min-width: 20px;
}
.lil-td{
    border: 1px solid black;
    padding: 3px;

}